body {
	background: white;
}

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
}
div .mheader{
	font-size: 2em;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}

table {
	/* position: absolute; */
	left:0px;
	top: 120px;
	border-spacing: 0;
}
table, tr, td {
	  border: 1px solid black;
}
tr {
	height: 51px;
}
td{
	width: 48px;
	height: 48px;
	background-color: #ecc6d9;
}


span.info{
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	border-radius: 1px;
	padding-left: 8px;
	padding-top: 8px;
	float:left;
	width:100%;
	font-size: 2em;
	font-weight: bold;
}
td.visited{
	background-color: white;
}

#loadButton{
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 2em;
	font-weight: bold;
}
td.destroyed{
	border: 3px solid blue;
	background-color: red;
}

td.remleft{
	border-left: 0;
}
td.remright{
	border-right: 0;
}
td.remfloor{
	border-bottom: 1px solid red;
}
td.remceiling{
	border-top: 1px solid red;
}
